{% extends 'base.html' %}

{% block content %}
{% if 'video' %}
<!--    <div class="main-posts">-->
<!--    <div class="container">-->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <img class="single-video" src="{{ video.image.url }}" alt="">

        </div>
        <div class="col-md-3 col-sm-3">
          <span class="date">{{ video.create_at }}</span>
          <h4><a href="{% url 'video' video.id %}">{{ video.title }}</a></h4>
          <p>{{ video.description }}</p>
          <div class="col text-center">
            <form class="rate-form" action="" method="POST" id="{{ video.id }} ">
              {% csrf_token %}
              <button type="submit" id="first"  class="fa fa-star fa-2x my-btn "></button>
              <button type="submit" id="second" class="fa fa-star fa-2x my-btn "></button>
              <button type="submit" id="third"  class="fa fa-star fa-2x my-btn "></button>
              <button type="submit" id="fourth" class="fa fa-star fa-2x my-btn"></button>
              <button type="submit" id="fifth"  class="fa fa-star fa-2x my-btn"></button>
            </form>
            <br>
            <div id="confirm-box">
          </div>


          </div >
          <p >Рейтинг {{ video.average_rating }}</p>
          <p>{{ video.count_rating }} голосов</p>
          <a href="{% url 'home' %} "><button class="btn btn-primary mt-3">Next</button></a>
        </div>

        </div>
      <div class="row">
        <div class="col-md-6 col-sm-3">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="800"
              height="600"
              data-setup="{}"
          >
            <source src="{% url 'stream' video.id %}" type="video/mp4"/>
            <source src="{% url 'stream' video.id %}" type="video/webm"/>
          </video>
        </div>
      </div>
<!--    </div>-->
<!--    </div>-->
{% else %}
  <h1>Больше нет видео для оценки</h1>
{% endif %}

{% endblock content %}
